@page "/weather"
@using BlazorWeatherApp.Models
@using Newtonsoft.Json
@attribute [StreamRendering]
@inject HttpClient httpClient

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

@if (data == null)
{
    <p><em>No Data Found.</em></p>
}
else
{
@*     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        View City
    </button>
    <button type="button" onclick="viewByWeather()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        View By Weather
    </button> *@

    <a href="/CityView" class="btn btn-primary">City View</a>
    <a href="/ViewByWeather" class="btn btn-primary">View By Weather</a>

    <table class="table table-bordered table-striped" id="myTable">
        <thead style="background-color:#3939b7;color:white;">
            <tr>
                <th>City</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Weather</th>
                <th>WindSpeed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in data)
        {
            <tr>
                <td>@x.city</td>
                <td>@x.temperature</td>
                <td>@x.humidity</td>
                <td>@x.pressure</td>
                <td>@x.weather</td>
                <td>@x.windSpeed</td>
            </tr>
        }
    </tbody>
</table>

<script>

    $('#myTable').DataTable(); 

    function viewCity(){
    debugger;
    $.ajax({
    url:"https://localhost:44367/api/weather/city/Aberdeen",
    type:"GET",
    success:function(data){
    debugger;
    console.log(data);
    },
    error: function(e){
    console.log(e)
    }
    });

    }

    function viewByWeather(){
    debugger;


    }

</script>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    IEnumerable<WeatherData> data = null;
    WeatherData city = null;

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("https://localhost:44367/api/weather/all");

        data = Helper.ReadResponseMessage<IEnumerable<WeatherData>>(response);
    }

    // public async Task ViewCity()
    // {
    //     var response = await httpClient.GetAsync("https://localhost:44367/api/weather/city/Aberdeen");

    //     city = Helper.ReadResponseMessage<WeatherData>(response);
    // }
}



